body{
	font-size: 24px;
	background-color: #777;
	color: #fff;
	margin: 10px;
}
.void{
	height: -3px;
}

.part{
	display: block;
	background-color: #333;
	text-decoration: none;
	margin: 10px 0;
	color: #fff
}
.part:hover{
	background-color:  #222;
	padding: 3px 0;
	margin: -3px 0;
}
.not_writed{
	background-color: #f00;
}
.not_writed:hover{
	background-color:  #c00;
	padding: 3px 0;
	margin: -3px 0;
}